              ####### CONFIGS SERVICE #######
________________________________________________________________________________


## CONFIGS SOAP CORREIOS ##

WSDL_CORREIOS = https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService
METHOD = text/xml;charset=UTF-8



##  CONECTION DATABASE POSTGRES ##

DB_HOST = localhost
DB_USER = postgres
DB_PASS = 123456
DB_DATABASE = coordenadas



## CONFIGS SERVICE ##

NODE_ENV = development
DEBUG = knex:query
SCHEDULE_TIME = */1 * * * *
